:root{
  --main-bg-color: #39779a;
  --secondary-bg-color: #000000;
  --main-text-color: #333;
  --secondary-text-color: #fff;
}

html{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.hero_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--secondary-bg-color);
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
  z-index: -1;
}

.hero_container {
  position: relative;
  display: inline-block;
  padding-top: 2rem;
  z-index: 1;
}

.hero_container .hero_img {
  display:block;
  width: 100%;
  max-width: 800px;
  height: auto;
  animation: flyInFromTop 1s ease-out; 
}

.hero_heading{
  position: absolute;
  bottom: 0;
  color: var(--secondary-text-color);
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 10px;
  width: 100%; 
  text-align: center;
  animation: flyInFromBottom 1s ease-out;
}

.hero_about_me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.hero_about_me_icons, .footer_icons{
  display: flex;
  gap: 1rem;
}

.villains{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.villains_section{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.villain_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg-color);
  gap: 1rem;
  color: var(--secondary-text-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.villain_card img{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.villain_card h2{
  text-align: center;
  margin: 0;
}

.villain_card p{
  text-align: center;
  padding: 0 1rem;
}

.footer{
  background-color: var(--secondary-bg-color);
}

.footer_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
}

.footer_text{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.footer_img{
  width: 100%;
  height: auto;
}

i {
  font-size: 1.5rem;
}

@keyframes flyInFromTop {
  0% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes flyInFromBottom {
  0% {
    transform: translateY(100%) scale(1.5);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}